html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    width: 65%;
    height: 100vh;
    background-color: white;
    grid-template-columns: [row1-start] 25% [row1-end] auto [last-line];
}

.sidebar-container {
    background-color:#60a5fa;
}

.sidebar-icon {
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    
}

.sidebar-icon svg {
    fill: white;
}

.label-text {
    margin-left: 10px;
    color: white;
    font-weight: bold;
}

.mainbar-container {
    display: grid;
    grid-template-rows: [col1-start] 18% [col1-end] auto [last-line];
}

.header-container {
    background-color:#ffffff;
    display: grid;
    grid-template-rows: [col1-start] 40% [col1-end] auto [last-line];;
}

.body-container {
    background-color:#E5E7EB;
    box-shadow: 0px 0px 3px 0px black;
}

.top-container, .bottom-container {
    background-color:#ffffff;
    display: flex;
    flex-direction: row;
}

.left-container {
    background-color: #ffffff;
    width: 65%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.right-container {
    background-color: #ffffff;
    width: 35%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.search-icon {
    padding-left: 20px;
}

.search-bar {
    width: 100%;
}

.search {
    padding-top: 10px;
}

input {
    background-color: #E5E7EB;
    width: 80%;
    border-radius: 10px;
    border: none;
}

.notification-icon {
    width:  20px;
    height: 20px;
    padding-left: 20px;
}

.cat-head-image {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fee43d;
    border-radius: 50%;
    padding-left: 0px !important;
    padding-top: 0px !important;
    margin: 5px;
}

.name-text {
    width: 100px;
    height: 0x;
}

img {
    width: 23px;
    height: 23px;
}


.name-text .name-user {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.right-div {
    padding-top: 10px;
    padding-left: 15px;
}

.first-con {
    background-color: #ffffff;
    width: 60%;
    display: flex;
    flex-direction: row;
}

.second-con {
    background-color: #ffffff;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100%;
}


.image-large {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fee43d;
    border-radius: 50%;
    margin: 10px;
    margin-top: 6px;
    margin-left: 14px;
    padding: 0;
}

.image-large img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.text-large {
    background-color: #ffffff;
    width: 80%;
}

.greet-user {
    font-size: 9px;
    font-weight: bold;
}

.name-morgan {
    font-size: 15px;
    font-weight: bold;
}

.btn {
    background-color: #60a5fa;
    color: #ffffff;
    border-radius: 25px;
    border: none;
    padding: 5px 17px;
    cursor: pointer;
}