body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Light theme */
  body.light-theme {
    background-color: #c72222;
    color: #000000;
  }
  
  /* Dark theme */
  body.dark-theme {
    background-color: #000000;
    color: #ffffff;
  }
  
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: #444;
    color: #fff;
  }
  